*.jar
!sbt-launch.jar
*.class
/lib
/lib_managed
/logs
/project/boot
/project/build/target
/project/target
/project-old
/target
.idea
/project/plugins/target
*.DS_Store
*.iml
/out
*.history

*.csv
.cache
.classpath
.externalToolBuilders/
.project
.settings/
build.xml